.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-item {
    flex: 1;
}

.navbar-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    width: 50%;
    background-color: #333;
    transition: 0.3s;
}

.navbar-link:hover {
    background-color: #575757;
}

.navbar-link:active {
    background-color: #ffffff;
    color: #333;
}

/* Media query pour les appareils avec une largeur maximale de 768px */
@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-link {
        padding: 10px 0;
    }
}

/* Media query pour les appareils avec une largeur maximale de 480px */
@media (max-width: 480px) {
    .navbar-link {
        padding: 8px 0;
        font-size: 14px;
    }
}